* {
  box-sizing: border-box;
}

.body {
	width: 100wh;
	height: 90vh;
	color: #e0f2f1;
}

.main-font {
  font-family: "Pacifico", cursive;
}

.h1 {
  font-family: "Pacifico", cursive;
}
form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.button {
  text-align: center;
}

.brand-logo {
  margin-left: 1em;
}
